*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #30743B;
}

.title{
    text-align: center;
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 5vh;
}

section{
    height: 40vh;
    position: relative;

}

.big-container{
    max-width: 2500px;
    width: 100%;
    height: 45vh;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 20px auto;
}

.animal-container{
    background-color:  #5fe876;
    width: 23%;
    padding: 10px;
    float:right;
    height: 40vh;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    height:fit-content;
}

.animal-container:hover{
    background-color: #183A1E;
    color: #D7F9DD;
}

.animal-name{
    font-family: 'Cutive', serif;
    margin-top: 30px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:xx-large;
}

.animal-img{
    position: relative;
    max-width: 100%;
    height: 50%;
}

img{
    display: block;
    margin: auto;
    width: 100%;
}

.animal-description{
    font-size: large;
    font-family: cursive;
    text-align: center;
}

.home-button{
    margin-left: 47%;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    background-color: #CBDCCE;
    border-radius: 5px;
    line-height: 25px;
    text-decoration: none;
    color: black;
}

.home-button:hover{
    background-color: #7EA885;
    color: #E5EEE7   
}

