body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-align: center;
  background-color: #a6efb7;
}

h1 {
  font-size: 60px;
}

img {
  height: 500px;
  width: 700px;
}

div {
  margin: auto;
  padding: 30px;
  font-size: 24px;
  width: 72%;
}

button {
  font-size: 25px;
  line-height: 20px; 
  padding: 13px; 
  margin-left: 35px; 
  margin-bottom: 30px; 
  border-radius: 10px; 
  background-image: linear-gradient(to bottom, rgb(146, 219, 255) 0%, rgb(59, 177, 255) 100%); 
  box-shadow: #30ba50 2px 2px 2px 3px; 
  border: 2px solid rgb(28, 110, 164); 
  display: inline-block;
}

#home {
  background-image: linear-gradient(to bottom, rgb(255, 146, 146) 0%, rgb(255, 59, 59) 100%); 
  border: 2px solid rgb(164, 28, 28); 
}

button:hover {
  background: #59bdff; 
}

button:active {
  background: #009cf6; 
}